@keyframes NavDownloadLink_btnRound__Z72fp {
    0% {
        width: 0;
        height: 0;
        background: hsla(0,0%,100%,.8)
    }

    to {
        width: 220px;
        height: 220px;
        background: hsla(0,0%,100%,0)
    }
}

.NavDownloadLink_navLinkItem__w6v2q {
    font-size: 16px;
    color: #171c1b !important;
    margin: 0 15px;
    padding: 0 10px;
    text-decoration: none;
    height: 100%;
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid transparent
}

    .NavDownloadLink_navLinkItem__w6v2q:hover {
        color: #fa3c3c !important
    }

    .NavDownloadLink_navLinkItem__w6v2q.NavDownloadLink_active__EQAFe {
        position: relative;
        background-color: #fbe7ea !important;
        color: #fa3c3c !important;
        font-weight: 700
    }

        .NavDownloadLink_navLinkItem__w6v2q.NavDownloadLink_active__EQAFe:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: linear-gradient(270deg,#fa3c3c 0,#ff6a7d) !important
        }

.NavDownloadLink_downloadLink__NCh8B {
    display: flex;
    align-items: center;
    width: 122px;
    height: 38px;
    background: linear-gradient(302deg,#fa3c3c,#ff6a7d) !important;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 0 25px;
    color: #fff !important;
    line-height: 24px;
    justify-content: center
}

    .NavDownloadLink_downloadLink__NCh8B:hover {
        background: linear-gradient(302deg,#ff6a7d,#fa3c3c) !important
    }

    .NavDownloadLink_downloadLink__NCh8B.NavDownloadLink_animation__KI3Fh {
        position: relative;
        overflow: hidden
    }

        .NavDownloadLink_downloadLink__NCh8B.NavDownloadLink_animation__KI3Fh:after {
            position: absolute;
            left: 50%;
            transform: translate(-50%,-50%);
            top: 50%;
            content: "";
            width: 0;
            height: 0%;
            border-radius: 50%;
            background: hsla(0,0%,100%,.2);
            animation: NavDownloadLink_btnRound__Z72fp 1s ease-in-out infinite
        }

    .NavDownloadLink_downloadLink__NCh8B img {
        width: 12px;
        height: 16px;
        margin-right: 6px
    }

.backToTop_backToTopWrapper__sQex3 {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99
}

    .backToTop_backToTopWrapper__sQex3 .backToTop_icon__NJ8WE {
        display: block;
        width: 28px;
        height: 28px;
        margin-bottom: 6px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50%
    }

    .backToTop_backToTopWrapper__sQex3 .backToTop_fixedList__u5Cnu {
        margin: 0;
        padding: 0;
        list-style: none;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 2px 6px 0 hsla(0,0%,80%,.59)
    }

        .backToTop_backToTopWrapper__sQex3 .backToTop_fixedList__u5Cnu .backToTop_item__O7d_Y {
            width: 76px;
            height: 76px;
            padding: 4px;
            box-sizing: border-box;
            color: #404040;
            font-size: 14px
        }

            .backToTop_backToTopWrapper__sQex3 .backToTop_fixedList__u5Cnu .backToTop_item__O7d_Y .backToTop_content__zIbXV {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                text-decoration: none;
                color: inherit
            }

            .backToTop_backToTopWrapper__sQex3 .backToTop_fixedList__u5Cnu .backToTop_item__O7d_Y.backToTop_customerService__eafTA .backToTop_icon__NJ8WE {
                background-image: url(../../../../cdn-file-2.yecong.com/www/9/715cef33/lian_xi_ke_fu.png)
            }

            .backToTop_backToTopWrapper__sQex3 .backToTop_fixedList__u5Cnu .backToTop_item__O7d_Y.backToTop_downloadBtn__55aVz .backToTop_icon__NJ8WE {
                background-image: url(https://cdn-file-1.yecong.com/www/9/93c5bd7a/xia_zai.png)
            }

            .backToTop_backToTopWrapper__sQex3 .backToTop_fixedList__u5Cnu .backToTop_item__O7d_Y.backToTop_phone__ULSUL {
                position: relative
            }

                .backToTop_backToTopWrapper__sQex3 .backToTop_fixedList__u5Cnu .backToTop_item__O7d_Y.backToTop_phone__ULSUL .backToTop_icon__NJ8WE {
                    background-image: url(https://cdn-file-3.yecong.com/www/9/809d516a/dian_hua.png)
                }

                .backToTop_backToTopWrapper__sQex3 .backToTop_fixedList__u5Cnu .backToTop_item__O7d_Y.backToTop_phone__ULSUL .backToTop_phoneContent__3FlVF {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%) translateX(-105%);
                    width: 120px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    white-space: nowrap;
                    font-size: 16px;
                    background: #fff;
                    box-shadow: 0 2px 6px 0 hsla(0,0%,80%,.59);
                    border-radius: 5px
                }

            .backToTop_backToTopWrapper__sQex3 .backToTop_fixedList__u5Cnu .backToTop_item__O7d_Y:hover .backToTop_content__zIbXV {
                background: #fff0f0;
                color: #fa3c3c
            }

            .backToTop_backToTopWrapper__sQex3 .backToTop_fixedList__u5Cnu .backToTop_item__O7d_Y:hover.backToTop_customerService__eafTA .backToTop_icon__NJ8WE {
                background-image: url("https://cdn-file-1.yecong.com/www/9/df3e46f6/lian_xi_ke_fu(1).png")
            }

            .backToTop_backToTopWrapper__sQex3 .backToTop_fixedList__u5Cnu .backToTop_item__O7d_Y:hover.backToTop_downloadBtn__55aVz .backToTop_icon__NJ8WE {
                background-image: url("https://cdn-file-3.yecong.com/www/9/5726c9a3/xia_zai(1).png")
            }

            .backToTop_backToTopWrapper__sQex3 .backToTop_fixedList__u5Cnu .backToTop_item__O7d_Y:hover.backToTop_phone__ULSUL .backToTop_phoneContent__3FlVF {
                display: block
            }

    .backToTop_backToTopWrapper__sQex3 .backToTop_backToTopBtn__WlnKC {
        width: 76px;
        height: 76px;
        padding: 4px;
        margin-top: 6px;
        background: #fff;
        box-shadow: 0 2px 6px 0 hsla(0,0%,80%,.59);
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        color: #404040;
        font-size: 14px
    }

        .backToTop_backToTopWrapper__sQex3 .backToTop_backToTopBtn__WlnKC .backToTop_backToTopBtnBox__KqXRx {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 10px
        }

        .backToTop_backToTopWrapper__sQex3 .backToTop_backToTopBtn__WlnKC .backToTop_icon__NJ8WE {
            background-image: url(https://cdn-file-3.yecong.com/www/9/97130f11/yi_jian_zhi_ding.png)
        }

        .backToTop_backToTopWrapper__sQex3 .backToTop_backToTopBtn__WlnKC:hover .backToTop_backToTopBtnBox__KqXRx {
            background: #fff0f0;
            color: #fa3c3c
        }

        .backToTop_backToTopWrapper__sQex3 .backToTop_backToTopBtn__WlnKC:hover .backToTop_icon__NJ8WE {
            background-image: url("https://cdn-file-2.yecong.com/www/9/0bb2357e/yi_jian_zhi_ding(1).png")
        }

.backToTop_download_moadl__9Zdkq > div:nth-child(2) {
    padding: 52px 40px !important
}

.backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU {
    position: relative
}

    .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU > .backToTop_title__cDz_0 {
        font-size: 30px;
        font-weight: 600;
        color: #232323;
        margin-bottom: 24px;
        text-align: center
    }

    .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU > .backToTop_tips__mPDL0 {
        font-size: 14px;
        font-weight: 400;
        color: #404040;
        line-height: 22px;
        margin-bottom: 30px
    }

    .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU .backToTop_skill__NgLU7 {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

        .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU .backToTop_skill__NgLU7 .backToTop_left__yUTHP {
            display: flex;
            flex-direction: column;
            width: 348px
        }

            .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU .backToTop_skill__NgLU7 .backToTop_left__yUTHP .backToTop_title__cDz_0 {
                width: 100%;
                border-bottom: 1px solid #e0e0e0;
                font-size: 22px;
                font-weight: 600;
                color: #232323;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                height: 56px
            }

            .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU .backToTop_skill__NgLU7 .backToTop_left__yUTHP .backToTop_tips__mPDL0 {
                display: flex;
                margin-bottom: 20px
            }

                .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU .backToTop_skill__NgLU7 .backToTop_left__yUTHP .backToTop_tips__mPDL0 img {
                    width: 22px;
                    height: 22px;
                    margin-right: 10px;
                    margin-top: 2px
                }

                .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU .backToTop_skill__NgLU7 .backToTop_left__yUTHP .backToTop_tips__mPDL0 p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #404040;
                    line-height: 26px
                }

        .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU .backToTop_skill__NgLU7 .backToTop_right___Mten img {
            width: 307px;
            height: 187px
        }

    .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU .backToTop_download_btn__mVURY {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px
    }

        .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU .backToTop_download_btn__mVURY a {
            width: 312px;
            height: 42px;
            border-radius: 8px;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center
        }

            .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU .backToTop_download_btn__mVURY a:first-child {
                border: 1px solid #fa3c3c;
                color: #fa3c3c;
                margin-right: 20px
            }

                .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU .backToTop_download_btn__mVURY a:first-child:hover {
                    background: #ffefef
                }

            .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU .backToTop_download_btn__mVURY a:nth-child(2) {
                background: linear-gradient(302deg,#fa3c3c,#ff6a7d);
                color: #fff
            }

                .backToTop_download_moadl__9Zdkq .backToTop_download_content__htXLU .backToTop_download_btn__mVURY a:nth-child(2):hover {
                    background: linear-gradient(302deg,#ff6464,#ff95a3)
                }

@keyframes download_btnRound__AWKWv {
    0% {
        width: 0;
        height: 0;
        background: hsla(0,0%,100%,.8)
    }

    to {
        width: 220px;
        height: 220px;
        background: hsla(0,0%,100%,0)
    }
}

.download_downloadBtn__kdRkm {
    width: 210px;
    height: 66px;
    background: linear-gradient(302deg,#fa3c3c,#ff6a7d);
    border-radius: 12px;
    display: inline-block;
    font-size: 22px;
    color: #fff !important;
    line-height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center
}

    .download_downloadBtn__kdRkm:hover {
        color: #fff;
        background: linear-gradient(302deg,#ff6a7d,#fa3c3c)
    }

    .download_downloadBtn__kdRkm.download_light__aWshO {
        background: #fff;
        color: #232323 !important
    }

        .download_downloadBtn__kdRkm.download_light__aWshO:hover {
            background: #fff;
            color: #232323
        }

    .download_downloadBtn__kdRkm.download_animation__SBmMp {
        position: relative;
        overflow: hidden
    }

        .download_downloadBtn__kdRkm.download_animation__SBmMp:after {
            position: absolute;
            left: 50%;
            transform: translate(-50%,-50%);
            top: 50%;
            content: "";
            width: 0;
            height: 0%;
            border-radius: 50%;
            background: hsla(0,0%,100%,.2);
            animation: download_btnRound__AWKWv 1s ease-in-out infinite
        }

.index_homeView__oTzMp {
    position: relative
}

.index_bannerWrap__A47IR {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

    .index_bannerWrap__A47IR .index_left__9_Gwb {
        display: flex;
        justify-content: center;
        flex-direction: column
    }

        .index_bannerWrap__A47IR .index_left__9_Gwb .index_title__qVQRs {
            font-size: 50px;
            font-weight: 700;
            color: #fff;
            line-height: 50px;
            margin-bottom: 15px
        }

        .index_bannerWrap__A47IR .index_left__9_Gwb .index_subTitle__sfZ5L {
            font-size: 18px;
            color: #fff;
            line-height: 28px;
            margin-top: 20px;
            margin-bottom: 40px
        }

        .index_bannerWrap__A47IR .index_left__9_Gwb .index_desc__niQfl {
            font-size: 18px;
            color: #fff;
            line-height: 24px;
            margin-top: 10px;
            margin-bottom: 0
        }

.index_slickWrap__zqFlS {
    padding-top: 100px
}

    .index_slickWrap__zqFlS .index_slickCard__da9pR {
        padding: 10px 23px;
        box-shadow: 0 12px 20px 0 rgba(250,60,60,.1);
        border: 2px solid #fff;
        border-radius: 12px
    }

        .index_slickWrap__zqFlS .index_slickCard__da9pR:hover, .index_slickWrap__zqFlS .slick-active > .slickCard {
            border: 2px solid rgba(250,60,60,.6)
        }

.index_slickTextCard__goo6C {
    display: inline-flex !important
}

.index_slickImageCard__fxdLq {
    width: var(--dc-client-width);
    background-color: #fff;
    border-radius: 12px;
    padding-top: 30px
}

.index_slickDownloadLine__6pMf4 {
    margin-bottom: 40px
}